th {
	width: 25px;
	height: 25px;
	font-size: 16px;
	font-weight: normal;
}
select.controll {
	margin-left: 20px;
	margin: 10px;
}
div.material_list {
	font-size: 16px;
}
div.product_list {
	font-size: 16px;
}
.question_name {
	border-bottom: 1px dashed;
	font-size: 16px;
	font-weight: bold;
}
.project_left {
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
}
.project_right {
	float: right;
	font-size: 16px;
	margin: 4px;
}
button.add {
    background: #4167fc;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 10px;
    font-size: 12px;
    font-family: "Tron-Normal";
    color: #FDFDFD;
    background: #0f3ffb;
    cursor: pointer;
}
button.product {
    margin: 30px;
    width: 70px;
    height: 35px;
}
button.material {
    margin: 30px;
    width: 70px;
    height: 35px;
}
button.code {
	width: 300px;
	height: 40px;
}
.button_wrapper{
   text-align:center;
}
div.plate {
    font-size: 1rem;
}
div.question {
	width: 100%;
    font-family: "Tron-Normal";
	box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    border: 1px solid #e7e7e7;
    padding: 10px;
    background: #F8F8F8;
    color: #222222;
    margin-top: 25px;
    width: 100%;
    height: auto;
}
nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    margin-top: 25px;
    background: #222222;
    color: #FDFDFD;
}
a.nav {
    text-decoration: none;
    color: #BBBBBB;
    cursor: pointer;
    float: left;
    position: relative;
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
}
.strong {
	font-weight: bold;
	font-size: 18px;
    font-family: "Tron-Strong" !important;
}
.right {
    float: right !important;
}
.left {
    float: left !important;
}
.name {
	font-size: 16px;
	margin: 13px;
}